<div class="row">
  <section class="large-12 large-centered columns profile">
    <h2>New Ad</h2>
    <%= render :partial => 'new_form', :locals => { :ad => @ad } %>
    <%= link_to "Back", :back %>
  </section>
</div>