<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome from CarSeekers.co.uk, <%= @user.name %></h1>
    <p>
      You have successfully bidded on <%= @ad.title %>, <br/>
      and set the highest bid to <%= @ad.top_bid %>
    </p>
    <p>Thanks for bidding and good luck!</p>
  </body>
</html>