<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome from CarSeekers.co.uk, <%= @user.name %></h1>
    <p>
      Congratulations, You have successfully sold your <%= @ad.title %>, <br/>
      and the highest bid was <%= @ad.top_bid %>!
    </p>
    <p>Thanks for selling with us!</p>
  </body>
</html>