<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome from CarSeekers.co.uk, <%= @user.name %></h1>
    <p>
      You have not sold your <%= @ad.title %>
    </p>
    <p>Thanks for selling with us!</p>
  </body>
</html>