<div class="row">

  <section class="large-12 large-centered columns">
    <div class="large-10 large-centered columns search-box">
      <h2>Find your new auto here!</h2>
    </div>
  </section>

</div>
