<div id="map-canvas">Map Not Ready</div>
  <div class="search-box">
     <div class="item-holder large-6">
    <%= render :partial => '/searches/search', :locals => { :title => "Find your new auto here!", :onmap => true } %>
  </div>
</div>
