// Place all the styles related to the Ads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  margin: 1rem 0 0 0;
}

.bidder-wrap {

  padding: 0 0 0 1rem;

  .bidder {
    padding: 0.8rem;
    margin: 1rem 0 1rem 0;
  }
}

.clearing-thumbs {
  .image-thumb {
    margin: 0 0 0 0.65rem;
  }
}

.ad-user-info {
  margin: 0 0 0 0;
  background-color: #E3F6FF;

  dd:first-child {
    margin: 2rem 0 0 0;
  }
}

.car-info {
  dd:first-child {
    margin: 0;
  }
  dl {
    display: inline-block;
    margin: 0 0.8rem 0 0;
  }
}

.image-holder {
  background-color: #FFFFFF;
  margin: 1rem 0 1rem 0;
  .ad-main-image {
    margin: 0 0 0 0;
  }
}

.main-info {
  margin: 0 1rem 0 0;

  dl {
    padding: 0;
    margin: 0;
    display: block;
  }
}