// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile {

  margin: 2.5em 0 0 0;

  .profile-picture {
    margin: 0.5rem 0 0 0;
  }

  .bio {
    margin: 0.5rem 0 5rem 0;
  }

  .profile-edit {
    font-size: 1.5rem;
    float: right;
  }
}