// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile {

  .profile-picture {
    margin: 0.5rem 0 0 2rem;
  }

  .profile-edit {
    font-size: 1.5rem;
    float: right;
  }

  .profile-table {
    margin: 0;

    dd {
      padding: 0.2rem;
      margin: 0.4rem 0 0 0;
      border-bottom: 0.1rem solid black;
    }
  }
  .menu-container {
    margin: 1rem 0 0 0;
  }
}