// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile {

  .profile-ratings {
    margin: 1rem 1rem 0 0.9rem;

    h4 {
      margin: 0 0 2rem 0;
    }

    h5 {
      display: inline-block;
      line-height: 0.2;
    }
  }

  .rating {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0.1rem 1rem 0 0;
  }

  .positive-rating {
    @extend .rating;
    background-image: image-url("positive.png");
  }

  .neutral-rating {
    @extend .rating;
    background-image: image-url("neutral.png");
  }

  .negative-rating {
    @extend .rating;
    background-image: image-url("negative.png");
  }

  .profile-picture {
    margin: 0.5rem 0 0 2rem;
  }

  .profile-edit {
    font-size: 1.5rem;
    float: right;
  }

  .profile-table {
    margin: 0;

    dd {
      padding: 0.2rem;
      margin: 0.4rem 0 0 0;
      border-bottom: 0.1rem solid black;
    }
  }
  .menu-container {
    margin: 1rem 0 0 0;
  }
}