// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-wrapper {
  float: left;
}

#more-search-trigger {
  display: block;
  margin: 1rem 0 0 0;
}

.search-button {
  display: inline-block;
  margin: 1rem 0 0 0;
}

.search-map-button {
  display: inline-block;
  margin: 1rem 0 0 0;
}

.search-title {
  display: block;
}

.postcode-holder {
  margin: 1.5rem 0 0 0;
}

#map-trigger {
  margin: 0;
}